@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 28 28 28;
    --color-primary-light: 177 159 145;
    --color-primary-dark: 17 17 17;
    --color-secondary: 111 98 89;
    --color-secondary-light: 169 155 145;
    --color-accent: 177 159 145;
    --color-bg: 248 244 240;
    --color-bg-card: 255 255 255;
    --color-bg-elevated: 228 221 215;
    --color-bg-input: 255 255 255;
    --color-text-primary: 28 28 28;
    --color-text-secondary: 111 98 89;
    --color-text-muted: 169 155 145;
    --color-inverse: 248 244 240;
    --color-border: 228 221 215;
    --color-border-focus: 177 159 145;
    --color-success: 92 184 121;
    --color-error: 180 35 69;
    --color-warning: 154 103 0;
  }

  .dark:root {
    --color-primary: 28 28 28;
    --color-primary-light: 177 159 145;
    --color-primary-dark: 17 17 17;
    --color-secondary: 111 98 89;
    --color-secondary-light: 169 155 145;
    --color-accent: 177 159 145;
    --color-bg: 248 244 240;
    --color-bg-card: 255 255 255;
    --color-bg-elevated: 228 221 215;
    --color-bg-input: 255 255 255;
    --color-text-primary: 28 28 28;
    --color-text-secondary: 111 98 89;
    --color-text-muted: 169 155 145;
    --color-inverse: 248 244 240;
    --color-border: 228 221 215;
    --color-border-focus: 177 159 145;
    --color-success: 92 184 121;
    --color-error: 180 35 69;
    --color-warning: 154 103 0;
  }
}
